@page "/categoria/create"
@inject HttpClient http
@inject NavigationManager navigation

<h2> Nova Categoria</h2>

<CategoriaForm Categoria="@categoria" onValidSubmit="@CriarCategoria" ButtonTextSubmit="Salvar" ButtonTextCancel="Cancelar">
</CategoriaForm>

@code {
    Categoria categoria = new Categoria();

    async Task CriarCategoria()
    {
        await http.PostAsJsonAsync("api/categoria", categoria);
        navigation.NavigateTo("categoria");
    }
}
