@page "/categoria/edit/{categoriaid:int}"
@inject HttpClient http
@inject NavigationManager navigation

<h2> Editar Categoria</h2>

<CategoriaForm Categoria="@categoria" onValidSubmit="@EditarCategoria" ButtonTextSubmit="Salvar" ButtonTextCancel="Cancelar">
</CategoriaForm>



@code {
    [Parameter]
    public int categoriaid { get; set; }

    Categoria categoria = new Categoria();

    // Evento chamado quando componente é inicializado e após um parâmetro ser modificado
    protected async override Task OnParametersSetAsync()
    {
        // Chamar instância http pra retornar uma categoria passando os dados da api
        categoria = await http.GetFromJsonAsync<Categoria>($"api/categoria/{categoriaid}");
    }

    async Task EditarCategoria()
    {
        await http.PutAsJsonAsync("api/categoria", categoria);
        navigation.NavigateTo("categoria");
    }
}
